.expertise {
  position: relative;
  width: 100%;
  min-height: 100vh; /* full screen */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding: 40px 20px; */
  color: white;
  text-align: center;
}

/*  */

.expertise-content {
  position: relative;
  z-index: 2;
  width: 100%;
  height: 100%;
  max-width: 1000px;
}

.expertise h2 {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 40px;
  letter-spacing: 2px;
}

.expertise-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* desktop 3 columns */
  gap: 25px;
  padding: 0 10px;
}

.card {
  background: rgba(255, 255, 255, 0.1);
  padding: 10px 5px;
  border-radius: 15px;
  box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(6px);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: translateY(-8px);
  box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.3);
}

.card h3 {
  font-size: 1.3rem;
  margin-bottom: 10px;
}

.card p {
  font-size: 1rem;
  line-height: 1.6;
}


/* Tablet (≤ 1024px) */
@media (max-width: 1024px) {
  .expertise-grid {
    grid-template-columns: repeat(2, 1fr); /* 2 columns */
    gap: 20px;
  }
}

/* Mobile (≤ 768px) */
@media (max-width: 768px) {
  .expertise-grid {
    grid-template-columns: 1fr; /* 1 column */
    gap: 25px;
    padding: 0 5px;
  }
}

/* Tablet */
@media (max-width: 1024px) {
  .profile-summary {
    font-size: 15px;
    padding: 0 16px;
  }
}

/* Mobile */
@media (max-width: 768px) {
  .profile-summary {
    font-size: 14px;
    padding: 0 12px;
    text-align: left;
  }
}

/* Small mobile */
@media (max-width: 480px) {
  .profile-summary {
    font-size: 13px;
    padding: 0 10px;
  }
}    